<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.hotel.mapper.HotelGuestRoomConfigMapper">
	<insert id="batchInsert" parameterType="java.util.List">
		insert into hotel_guest_room_config(id, create_by, create_time, config_id, hotel_guest_room_id)
		valeus
		<foreach collection="list" item="config" separator=",">
			(#{config.id, config.createBy, config.createTime, config.configId, config.HotelGuestRoomId})
		</foreach>
	</insert>

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  hotel_guest_room_config 
		WHERE
			 hotel_guest_room_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.hotel.entity.HotelGuestRoomConfig">
		SELECT * 
		FROM  hotel_guest_room_config
		WHERE
			 hotel_guest_room_id = #{mainId} 	</select>
</mapper>
